<h1><%= @idea_post.title %></h1>
<p><%= @idea_post.body %></p>
<hr>
<h2>Comments<h2>
<hr>
  <% @comments.each do |comment| %>
    <p><%= comment.body %></p>
    <hr>
  <% end %>
<%= form_for [@idea_post, @comment] do |f| %>
  <p><%= f.text_field :body %></p>
  <%= f.submit %>
<% end %>